<!DOCTYPE html>
<html>
<head>
    <title>Handlebars CSS Example</title>
    <style>
        /* Your CSS code goes here */
        /*#537FE7*/
        /*#0E0E11*/
        /*#181823*/
        /*#C6C6DE*/
        
        @font-face {
            font-family: "vazir";
            src: url("./fonts/Vazir.ttf");
        }
        @font-face {
            font-family: "brand-font";
            src: url("./fonts/Sorkhpust.ttf");
        }
        
        * {
            color: #C6C6DE;
        }
        
        body {
            background-color: #181823;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            direction: rtl;
        }
        
        .logo {
            width: 100px;
        }
        
        .brand {
            {% comment %} font-family: 'brand-font'; {% endcomment %}
        }

        .container {
            width: 500px;
            margin: 0;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 20px;
            align-items: center;
            background-color: #0E0E11;
            border: 1px solid #537FE7;
            position: relative;
            z-index: 20;
            margin-top: 30px;
            font-family: 'vazir';
        }
        
        .button {
            padding: 10px 30px;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
            background-color: #537FE7;
            color: #C6C6DE;
            margin-top: 20px;
        }
        
        .bg-cube {
            width: 130px;
            height: 130px;
            border-radius: 30px;
            border: 1px solid #537FE7;
            background-image: linear-gradient(to bottom right, #537FE750, transparent);
            position: absolute;
            z-index: 0;
        }
        .bg-cube-right {
            top: -50px;
            right: -50px;
        }
        .bg-cube-left {
            bottom: -50px;
            left: -50px;
        }
    </style>
</head>
<body>
    <img src="./assets/logo.png" alt="Fundologist" class="logo">
    
    <h2 class="brand">فاندولوژیست</h2>
    
    <div class="container">
        
        <h3>سلام {{ name }} عزیز :)</h3>
        <p>جهت بازیابی رمز عبور خود بر روی دکمه زیر کلیک کنید :</p>

        <a class="button" href="{{url}}" target="_blank">
            بازیابی رمز عبور
        </a>
        
        <div class="bg-cube bg-cube-right"></div>
        <div class="bg-cube bg-cube-left"></div>
    </div>
</body>
</html>




